/*
Authors: Debbie Pan, Troy Campbell, Arielle Marom;
COGS 120 Winter 2014

TABLE OF CONTENTS


*/

/*
1. General
====================================== */
html, body {
	cursor: crosshair;
	font-family: Lato, sans-serif;
	color: white;
	font-family: 'Open Sans', sans-serif;
	background: #ededed;
}

.gray {
	color: #3f3f3f;
}

a:hover {
	cursor: crosshair;
}

.lato {
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: #7bc5c7;
}

.georgia {
	font-family: Georgia, serif;
	font-weight: lighter;
}

.header {
	height: 70px;
	background: #6B6564;
	border: 1px solid #CCC;
	width: 100%;
	top: 0px;
	position: fixed;
	z-index: 10;
}

.contain {
	margin-top: 65px;
	display: block;
}

#resonote-logo {
	height: 45px;
	margin: 10px 10px;
	margin-left: 0px;
}

.mycontent {
	width: 100%;
	background: #f5f5f5;
	/*background: #6B6564;
	border: 1px solid #CCC;*/
	height: 700px;
	margin: 90px auto;
	margin-bottom: 80px;
}

.center {
	margin: auto;
	display: block;
}

.text-center {
	text-align: center;
}

.nav-bar > .active > a {
  color: #f5f5f5;
  	background-color: #6B6564;
  /*background-color: #008080; */
}

.uppercase {
	text-transform: uppercase;
}

@font-face {
	font-family: Lato;
	src: url(Lato-Reg.ttf);
}

h4 {
	color: #7bc5c7;
}

h2 {
	font-family: Georgia, serif;
	font-weight: lighter;
}

/*
HOME
====================================== */
.galit {
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	border-radius: 250px;
	border: 5px solid #ededed;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 170px;
	left: 33%;
}

#home .row {
	margin-left: 0px;
}

.content-home {
	width: 100%;
	background: #ededed;    /*384E96 A little bit lighter navy blue*/ 
	/* background: #1A114D; */ /* A little bit darker navy blue */
	color: #3f3f3f;
	height: 450px;
	margin: 65px auto;
	margin-bottom: 60px;
}

.home-pic {
	width: 100%;
	height: 160px;
	position: relative;
	top: 0;
	left: 0;
	border-bottom: 1px solid #ededed;
}

.name {
	display:block;
	float: left;
	position: ;
}

.home-text {
	margin-top: 55px;
	font-family: 'Georgia', serif;
	font-style:italic;
}

.city {
	font-size: 12px;
}

.home-row {
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dbdbdb),color-stop(0.6, #fafafa));
    background-image: -moz-linear-gradient(center top,#dbdbdb 0%,#fafafa 100%);
    background-image: -o-linear-gradient(top,#dbdbdb,#fafafa);
	height: 200px;
	margin-top: 5px;
	border-top: 1px solid #d3d3d3;
}

/*
NAV BAR
====================================== */
.navbar, .navbar-default, .navbar-fixed-top {
	height: 65px;
	box-shadow: 6px 0 20px -5px #222 , -6px 0 20px -5px #222;
	-webkit-box-shadow: 6px 0 20px -5px #222 , -6px 0 20px -5px #222;
	-moz-box-shadow: 6px 0 20px -5px #222 , -6px 0 20px -5px #222;
	-o-box-shadow: 6px 0 20px -5px #222 , -6px 0 20px -5px #222;
}

.sign-out {
	font-size: 12px;
	font-weight: normal;
	line-height: 65px;
	margin-right: 5px;
	margin-bottom: -5px;
	font-family: 'Lato', Arial, sans-serif;
}

#bottom-nav {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 50px;
	z-index: 10;
	width: 100%;
	/*background: #6B6564; /* A little bit lighter */
	background: #303030; /* A little bit darker */
}

#bottom-nav .nav-bar {
	list-style: none;
}

#bottom-nav .nav-bar li {
	display: inline;
	padding: 0 2px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	/*background: #6B6564; /* A little bit lighter */
	background: #303030; /* A little bit darker */
}

#home-icon, #wb-icon, #flag-icon, #playlist-icon, #settings-icon {
	height:30px;
	width: 30px;
	margin: 0px auto;
	display: block;
}

.nav-text {
	display:block;
	color: white;
	font-weight: lighter;
	margin: 0px auto;
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
	font-size: 13px;
}

.navbar .nav>li>a {
	padding: 10px 10px 5px;
}

.navbar .active {
	color: black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #e0e0e0;
} 

.navbar-default .navbar-nav > .active{

  	background: #151515;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {

    background: #151515;
 }

/*
Word Bank
====================================== */
.content-wb {
	width: 100%;
	background: #F0F0F0;
	border: 1px solid #CCC;
	height: 700px;
	margin: 20px auto;
	margin-bottom: 80px;
}

.wb-title {
	margin-top: 90px;
}

.scroll-box-wb {
	height: 100px;
	overflow: scroll;
	width: 300px;
	display: block;
	margin: auto;
}

/*
Song Pages
====================================== */
.song-container {
	width: 100%;
	background: #ededed;
	height: 650px;
}

#ouest-reveal, #sympathique-reveal, #quand-reveal, #quel-reveal, #tous-reveal, #papa-reveal {
	margin-top: -15px;
}

.scroll-box {
	overflow: scroll;
	height: 210px;
	width: 300px;
	display: block;
	margin: auto;
}

.has-tip:hover {
	color: #cc99ff;
}

.soundcloud-player {
	margin-top: 20px;
}

.content-songs {
	width: 100%;
	background: #F0F0F0;
	border: 1px solid #CCC;
	height: 500px;
	margin: 30px auto;
	margin-bottom: 80px;
}

.player-list {
	margin: 10px;
}


.box {
	height: 150px;
	width: 100%;
	border: 1px solid black;
}

.back-button {
	height: 40px;
	width: 40px;
	float: left;
}

.forward-button {
	height: 40px;
	width: 40px;
	float: right;
}

.frenchflag img {
	height: 80px;
	width: 100px;
}

.forward-button:hover {
	opacity: 0.7;
}

.back-button:hover {
	opacity: 0.7;
}

.song-lyrics p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.small-text {
	font-size: 10px;
	text-transform: uppercase;
}

.med-text {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.add-icon {
	height:20px;
	width:20px;
	margin:3px;
}

.btn {
	background:#7bc5c7;
	font-weight: lighter;
}

.none {
	display:none;
}

.delete-adv, .delete-int, .delete-beg, .delete-playlist, .delete-sympa, 
 .delete-matete, .delete-quelquun, .delete-quandcest, .delete-tous, .delete-papa, .deleteBankButton {
	display:inline-block;
	height: 15px;
	width: 15px;
	margin-left: 10px;
}

.delete:hover {
	opacity: .7;
}

.song-list {
	margin-top: 30px;
}

#contain-fav-mess {
	text-align: center;
	margin: auto;
}

.holdFrench{
	/*visibility: hidden; */
	background-color: green;
	font-size: 30px;
}

#easy-wb, #int-wb, #exp-wb {
	text-align: center;
	margin: auto; 
}

.Logo-Login {
	margin: auto;
	text-align: center;
	width: 40%;
	height: 30%;
}

.form {
	margin: auto;
	display:block;
	text-align: center;
}

#eBankEmpty, #iBankEmpty, #aBankEmpty {
	margin: auto;
	display:block;
	text-align: center;
}


/*
TABS
====================================== */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

/*
PLAYLIST
====================================== */

#myPlaylist button {
	background: red;
}

/*
About
====================================== */
.settings-content {
	background: #ededed;
	height: 650px;
}

.settings-margin {
	margin-left: 10px;
}

